kestra/flows/triage_draft_alert.yaml
id: triage_draft_alert
namespace: discord.triage
description: >
  Handles ⬆️ upvote confirmations on unknown-issue posts.
  Uses Discord's reaction count (relayed by bot) to avoid double-counting.
  Auto-creates GitHub issue when reaction_count ≥ 3; marks thread as escalated
  in KV to prevent duplicate issues. Webhook key must match KESTRA_ALERT_WEBHOOK_KEY
  in bot environment (default key: AlertKey9x2).

inputs:
  - id: channel_id
    type: STRING
    defaults: "{{ trigger.body.channel_id }}"
  - id: guild_id
    type: STRING
    defaults: "{{ trigger.body.guild_id }}"
  - id: reaction_count
    type: STRING
    defaults: "{{ trigger.body.reaction_count ?? '1' }}"

tasks:
  - id: read_triage
    type: io.kestra.plugin.core.kv.Get
    key: "GUILD_{{ inputs.guild_id }}_THREAD_{{ inputs.channel_id }}_TRIAGE"
    errorOnMissing: false

  - id: check_eligibility
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - kestra
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    warningOnStdErr: false
    script: |
      import json
      from kestra import Kestra

      raw = """{{ outputs.read_triage.value | default('') }}"""
      count = int("{{ inputs.reaction_count }}")

      data = None
      if raw.strip() and raw.strip() not in ('null', 'None', '""', "''"):
          try:
              data = json.loads(raw.strip())
          except Exception:
              pass

      # Only escalate: thread was triaged as no_match, not yet escalated, count >= 3
      if data and data.get("status") == "no_match" and count >= 3:
          author_id = data.get("author_id", "")
          Kestra.outputs({"should_escalate": "true", "author_id": author_id})
      else:
          Kestra.outputs({"should_escalate": "false", "author_id": ""})

  - id: log_eligibility
    type: io.kestra.plugin.core.log.Log
    level: INFO
    message: |
      [check_eligibility] should_escalate={{ outputs.check_eligibility.vars.should_escalate }}
      channel={{ inputs.channel_id }} reaction_count={{ inputs.reaction_count }}
      triage_kv={{ outputs.read_triage.value | default('(not set)') }}

  - id: if_should_escalate
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.check_eligibility.vars.should_escalate == 'true' }}"
    then:
      # Claim the escalation slot first to prevent duplicate issues under QUEUE concurrency
      - id: claim_escalation
        type: io.kestra.plugin.core.kv.Set
        key: "GUILD_{{ inputs.guild_id }}_THREAD_{{ inputs.channel_id }}_TRIAGE"
        value: "{\"status\": \"escalated\"}"
        overwrite: true

      - id: draft_issue_agent
        type: io.kestra.plugin.ai.agent.AIAgent
        systemMessage: |-
          You are a technical writer drafting a GitHub issue from a Discord bug report thread.

          MANDATE — You MUST use the `sql` tool to read Discord messages before drafting the issue. NEVER write an issue without first executing at least one SQL query via the `sql` tool. You have zero knowledge of thread contents without querying them. Do not guess, fabricate, or assume.

          You have access to Coral MCP with Discord access. Read the thread messages using:

            SELECT content, author__username, timestamp, permalink
            FROM discord.messages
            WHERE channel_id = 'THREAD_ID'
            LIMIT 20

          Then synthesize the reports into a well-structured GitHub issue.

          Write a well-structured GitHub issue with:
          - title: concise, specific, max 100 chars, no emoji
          - body sections: Description, Steps to Reproduce, Impact, Discord Thread (with permalink)

          RULES:
          - You MUST execute at least one `sql` tool call before producing any answer.
          - Title must be specific and actionable. Avoid vague phrases like "something is broken".
          - Include the Discord thread permalink in the Discord Thread section.
          - Do NOT discover tables. Use the SQL pattern above directly.
        prompt: |-
          Read and synthesize the Discord thread into a GitHub issue.

          Thread channel_id: {{ inputs.channel_id }}
          Guild: {{ inputs.guild_id }}
          Confirmed by {{ inputs.reaction_count }} users via ⬆️ upvotes.
        provider:
          type: io.kestra.plugin.ai.provider.GoogleGemini
          apiKey: "{{ kv('GUILD_' ~ inputs.guild_id ~ '_GEMINI_API_KEY') }}"
          modelName: gemini-3.5-flash
        tools:
          - type: io.kestra.plugin.ai.tool.Skill
            skills:
              - name: coral
                description: Query live sources through Coral MCP. Use when the task needs GitHub, Jira, Slack, Linear, Datadog, Sentry, files, or connected data.
                content: |
                  # Coral

                  ## Overview

                  Use this as the Coral entrypoint for external context. Query Coral before answering from assumptions or changing code when live external state matters.

                  - Use Coral MCP tools/resources for discovery and query.
                  - Do not use the `coral` CLI, compile Coral, copy binaries, or bootstrap a server unless explicitly asked.
                  - Do not switch to vendor tools for the same read unless the user asks to continue without Coral or Coral does not cover the source.

                  ## Support Checks

                  - Confirm Coral MCP tools/resources before making external-system claims.
                  - If Coral MCP is unavailable, state the blocker and stop; no local recovery.
                  - Distinguish missing source config, missing credentials, query errors, and empty results.
                  - If scope is missing, inspect guidance first, then ask for the smallest missing identifier.

                  ## Workflow

                  1. Identify the needed source, entity, and scope from the user request.
                  2. Discover tables and table functions with `list_catalog` or `search_catalog`; page large catalogs and narrow by schema or kind when useful.
                  3. Read `list_catalog` or `search_catalog` for `sql_reference`, `sql_call_example`, and `required_filters`; use `coral://guide` for query patterns and `coral://tables` for table summaries.
                  4. Inspect `coral.columns` for table columns, required filters, virtual columns, and descriptions.
                  5. Inspect `coral.table_functions` for source-scoped function arguments and result columns.
                  6. Inspect `coral.inputs` when source configuration affects the answer.
                  7. Query with `sql`: select useful columns, include required filters or function arguments, and add `LIMIT` unless complete output is requested.
                  8. Summarize evidence, gaps, and next action. If editing code, use the Coral result to guide changes.

                  ## Query Rules

                  - Use each table's `sql_reference`; write `github.pulls` or `"github"."pulls"`, not `"github.pulls"`.
                  - Use each table function's `sql_call_example`, filling in required arguments before querying it.
                  - Keep metadata discovery bounded: page catalog discovery, query `coral.columns` for one table or `coral.table_functions` for one source when possible, and add `LIMIT` when reading broad metadata directly.
                  - Virtual columns are filter-only and return `NULL`; check `is_virtual`.
                  - Required filters must appear in `WHERE`; inspect `required_filters` and `is_required_filter`.
                  - Secret inputs always return `value = NULL`; use `is_set`.
                  - Cross-source joins work and execute locally after source scans complete.
                  - Keep answers compact: name the source, table, required filters, and query shape. Avoid exhaustive column dumps unless requested.
                  - Lead with the answer or blocker. Include SQL only when it helps the user trust or reuse the result.

                  ## Boundaries

                  - Manifest fallback is only by request; inspect the smallest relevant sections and summarize table/filter shape.
                  - Do not paste large manifest excerpts, present source-wide conclusions without query coverage, or treat query failures as empty results.
          - type: io.kestra.plugin.ai.tool.StdioMcpClient
            command: ["/root/coral", "mcp-stdio"]
            logEvents: true
        maxSequentialToolsInvocations: 6

      - id: parse_draft
        type: io.kestra.plugin.ai.completion.JSONStructuredExtraction
        schemaName: GitHubIssue
        jsonFields:
          - title
          - body
        prompt: "{{ outputs.draft_issue_agent.textOutput }}"
        provider:
          type: io.kestra.plugin.ai.provider.GoogleGemini
          apiKey: "{{ kv('GUILD_' ~ inputs.guild_id ~ '_GEMINI_API_KEY') }}"
          modelName: gemini-3.1-flash-lite

      - id: log_draft_result
        type: io.kestra.plugin.core.log.Log
        level: INFO
        message: |
          [draft_issue_agent] title={{ fromJson(outputs.parse_draft.extractedJson).title }}
          channel={{ inputs.channel_id }} reaction_count={{ inputs.reaction_count }}

      - id: create_github_issue
        type: io.kestra.plugin.github.issues.Create
        oauthToken: "{{ kv('GUILD_' ~ inputs.guild_id ~ '_GITHUB_TOKEN') }}"
        repository: "{{ kv('GUILD_' ~ inputs.guild_id ~ '_DEFAULT_REPO') }}"
        title: "{{ fromJson(outputs.parse_draft.extractedJson).title }}"
        body: "{{ fromJson(outputs.parse_draft.extractedJson).body }}"
        labels:
          - bug
          - from-discord

      - id: apply_reported_tag
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        warningOnStdErr: false
        script: |
          import json, urllib.request, urllib.error
          TOKEN = "{{ kv('DISCORD_BOT_TOKEN') }}"
          THREAD = "{{ inputs.channel_id }}"
          TAG_MAP_RAW = """{{ kv('GUILD_' ~ inputs.guild_id ~ '_TAG_MAP') | default('') }}"""
          try:
              tag_map = json.loads(TAG_MAP_RAW.strip() or "{}")
              tag_id = tag_map.get("reported", "")
              needs_review_id = tag_map.get("needs_review", "")
          except Exception:
              tag_id = ""; needs_review_id = ""
          if not tag_id:
              print("reported tag not configured, skipping")
          else:
              h = {"Authorization": f"Bot {TOKEN}"}
              try:
                  with urllib.request.urlopen(urllib.request.Request(
                      f"https://discord.com/api/v10/channels/{THREAD}", headers=h
                  )) as r:
                      tags = json.loads(r.read()).get("applied_tags", [])
              except Exception as e:
                  print(f"GET err: {e}"); tags = []
              if needs_review_id and needs_review_id in tags:
                  tags.remove(needs_review_id)
              if tag_id not in tags:
                  tags.append(tag_id)
              req = urllib.request.Request(
                  f"https://discord.com/api/v10/channels/{THREAD}",
                  data=json.dumps({"applied_tags": tags}).encode(),
                  headers={**h, "Content-Type": "application/json"},
                  method="PATCH"
              )
              try:
                  with urllib.request.urlopen(req) as r:
                      print(f"applied reported tag status={r.status}")
              except urllib.error.HTTPError as e:
                  print(f"PATCH err: {e.code}")

      - id: reply_with_issue_link
        type: io.kestra.plugin.core.http.Request
        uri: "https://discord.com/api/v10/channels/{{ inputs.channel_id }}/messages"
        method: POST
        contentType: application/json
        headers:
          Authorization: "Bot {{ kv('DISCORD_BOT_TOKEN') }}"
        body: |
          {"content": {{ (("<@" ~ outputs.check_eligibility.vars.author_id ~ "> " if outputs.check_eligibility.vars.author_id != "" else "") ~ "🎉 Confirmed by " ~ inputs.reaction_count ~ " users — filed on GitHub: **[" ~ fromJson(outputs.parse_draft.extractedJson).title ~ "](" ~ outputs.create_github_issue.issueUrl ~ ")**") | toJson }}}
        options:
          allowFailed: true

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: AlertKey9x2
    inputs:
      channel_id: "{{ trigger.body.channel_id }}"
      guild_id: "{{ trigger.body.guild_id }}"
      reaction_count: "{{ trigger.body.reaction_count ?? '1' }}"

concurrency:
  behavior: QUEUE
  limit: 1
